.main-container{
    /* background-color:transparent; */
    width:100%;
    height:300px;
    max-height:300px;
    position:fixed; 
    display:flex; 
    justify-content:center;
    margin:20px  0 0 0
}
.child-container{
    /* background-color:blue; */
    width:60%;
    height:max-content;
    display: flex;
    flex-direction: column;
}
.social-media-container{
    /* background-color:red; */
    width:max-content;
    display:flex;
    align-self:end
}
@media only screen and (max-width: 768px) {
    .social-media-container{
        display: none;
    }
    .main-container{
        background-color: red;
        margin: 0;
        width: 100%;
        height: auto;
    }
    .child-container{
        width: 100%;
        height: 60px;
        display: flex;
        /* flex-direction: row; */
    }
}