.hero-section {
  background-image: url("../assets/Basic-Psychology-Header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: aqua;
  display: flex;

  /* position: relative; */
}
.container-text-area{
  width: 100%;
  height: max-content;
  /* background-color: brown; */
  align-self: center;
  margin: auto;
}
.info-text-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aqua; */
  width: max-content;
  text-justify: inter-word;
  margin: auto;
}
.subtittle{
  text-align: center;
  flex-wrap: wrap;
  width: 200px;
  align-self: center;
}
.contact-btn{
  width: 150px;
  height: 50px;
  align-self: center;
}




/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

