.card-container{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    width: 300px;
    height: 250px;
    margin: 5px 10px;
}
.card-container h1, p{
    align-self: center;
    text-align: center;
}
@media (max-width: 800px){
    .card-container{
        width: 200px;
        height: 150px;
    }
}