.nav-container{
    /* background: blue; */
    width: 100%;
    height: 250px;
    max-height: 250px;
    position: fixed;
    /* display: flex; */
    flex-direction: column;
   

}
.navigation{
    background: transparent;
    /* position: relative; */
    /* top:5%; */
   /* left: 25%;
    right: 0%; */
   
    margin: auto;
    width:70%;
    max-width: 70%;
    height: 200px;
    max-height: 200px;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.social-media{
    align-self: flex-end;
    margin: 0px 0px;
}
.nav-item{
    background: white;
    width: auto;
    display: flex;
    -webkit-box-shadow: -1px 7px 16px 0px rgba(0,0,0,0.63); 
    box-shadow: -1px 7px 16px 0px rgba(0,0,0,0.63);
    padding: 20px 0px;
}
.logo{
    width: max-content;
    height: max-content;
    max-width: 100px;
    
    /* background-color: brown; */
}
.nav-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.link{
    color: black;
    align-self: center;
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
    
}
.link:hover{
    text-decoration: overline;
    text-decoration-thickness: 3px;
    text-decoration-color: red;
}