.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.main-section{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 50px 0 0 0;
    /* background-color: coral; */
}
@media (max-width: 1300px){
    .container{
        height: auto;
    }
    .title{
        display: none;
    }
}