body,
html {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  /* background-image: url("./assets/ZenBG-1.png"), url("./assets/ZenBG-2.png");
  background-repeat: repeat-x, repeat; */
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
